<div class="container">

        <div class="row">

            <div class="col-md-10 col-md-push-2">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Competition</a></li>
                    <li class="active">Assessment Criteria</li>
                </ol>
    		
    		<div class='assessmentCriteriaContent' ui-view='assessmentCriteriaContent'></div>

        </div>
            <div class="col-md-2 col-md-pull-10 sidebar" role="navigation">

    			<div ui-view='assessmentCriteriaMenu'></div>  
            </div>
       </div>
</div>

