 <div class="row">

            <div class="col-md-9 col-md-push-3">

                <div class="alert alert-warning"><strong>Outdated content!</strong> This content hasn't been updateded for some time and might be outdated.</div>

                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Competition</a></li>
                    <li class="active">Assessment Criteria</li>
                </ol>

                <div class="page-header">
                    <h1>Objective &amp; Subjective Assessment</h1>
                </div>

                <p>There are two different types of assessment:  Objective and Subjective.</p>
                
                <p>Objective assessments are those for which an exact mark can be awarded according to a precise rule. 
                The competitor is either awarded the mark or is not. Thus the award for an objective Aspect is either 
                a mark as specified within the Aspect definition or zero. In some cases it is possible to vary the mark 
                award on an exact formula - for example where a tolerance is given it would be acceptable to award part 
                marks at one level of achieved tolerance and higher marks for reaching a better tolerance level. This 
                information can be applied to an 'Aspect' by using additional lines (Add) of marking instructions.</p>

                <p>Subjective assessments are those where the mark awarded depends on the personal opinion of a group 
                of judges. This type of marking usually involves an assessment of personal skill or creative ability. 
                It is a form of Aesthetic assessment. The judges, individually and without discussion with their 
                colleagues, decide the scores they will award for each Aspect of Criterion (on a scale of 1 to 10). 
                The marking group then get together as a team and every judge in the group displays, at a suitable 
                signal, a score card according to his/her opinion of the quality of the item. The team must mark ALL 
                competitors for the aspects they are assessing.</p>
                
            </div>
            <div class="col-md-3 col-md-pull-9 sidebar" role="navigation">

                <hr class="visible-xs visible-sm" />

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Competition</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><a href="#">Skills &amp; Skill Rules</a></li>
                            <li class="active"><a href="#">Assessment Criteria</a></li>
                            <li>
                                <a href="#">Reports</a>
                                <ul>
                                    <li><a href="#">Marking Scheme Defined</a></li>
                                    <li><a href="#">Aspects to Mark</a></li>
                                    <li><a href="#">Marked Aspects</a></li>
                                    <li><a href="#">Mark Entry Progress</a></li>
                                    <li><a href="#">Missing Marks</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Marking Days</a></li>
                            <li><a href="#">Marking Forms</a></li>
                            <li><a href="#">Certificates</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <hr class="hr-extended" />