        <div class="row">

            <div class='col-xs-12 col-sm-10'>
                <h2>{{event.event.name}}</h2>

                <div ng-if="user.subscriptions[eventId].status.id == STATUS.NO" class="alert alert-danger" role="alert">
                    <p translate>NOT_ATTENDING_WARNING</p>
                </div>

                <div class='event-highligh cf'>
                	<img ng-if="eventImage != false" class='event-picture-full thumbnail' ng-src="{{eventImage}}" alt='sao paulo' />
                	
                	<p>{{event.event.description}}</p>
                </div>
                <p>&nbsp;</p>         

                <div class='row'>       
                    <div class='col-xs-12 col-sm-6'>
                        <fieldset><legend  ng-cloak translate>MY_ATTENDANCE</legend>
                            <p ng-cloak translate>ATTENDANCE_TXT</p>                
                            <ws-spinner ng-show='loading.event'></ws-spinner>
                            <div class="btn-group" dropdown dropdown-append-to-body>
                                <button ng-class="{
                                'btn-success': user.subscriptions[eventId].status.id == STATUS.YES,
                                'btn-warning': user.subscriptions[eventId].status.id == STATUS.MAYBE,
                                'btn-danger': user.subscriptions[eventId].status.id == STATUS.NO}" type='button' class='btn btn-sm' href="#" ng-hide="loading.event" tooltip="Click to change" tooltip-trigger="mouseenter" tooltip-placement="top" class="dropdown-toggle" dropdown-toggle>
                                  <span ng-show="user.subscriptions[eventId]">{{user.subscriptions[eventId].status.name.text}}</span>
                                  <span ng-hide="user.subscriptions[eventId]">Not attending</span>
                                  &nbsp;<span class="caret"></span> 
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#" ng-class="{'active': user.subscriptions[eventId].status.id == STATUS.YES}" ng-click="setAttendance(STATUS.YES, $event);">{{statuses.data[STATUS.YES].name.text}}</a></li>
                                  <li><a href="#" ng-class="{'active': user.subscriptions[eventId].status.id == STATUS.MAYBE}" ng-click="setAttendance(STATUS.MAYBE, $event);">{{statuses.data[STATUS.MAYBE].name.text}}</a></li>
                                  <li><a href="#" ng-class="{'active': user.subscriptions[eventId].status.id == STATUS.NO}" ng-click="setAttendance(STATUS.NO, $event);">{{statuses.data[STATUS.NO].name.text}}</a></li>
                                </ul>
                            </div>
                        </fieldset>
                    </div>
                    <div class='col-xs-12 col-sm-6'>
                        <fieldset><legend ng-cloak translate>MATCHMAKING</legend>
                        <p ng-cloak translate>MATCHMAKING_INTRO</p>
                        <a ui-sref="user.matchmaking({userId:user.data.id})">&raquo; Read more</a>
                        </fieldset>
                    </div>
                </div>


                
                <p>&nbsp;</p>                
                <fieldset><legend ng-cloak translate>EVENT_PARTICIPANTS</legend>
                <p ng-cloak translate>PARTICIPANTS_TXT</p>
                
                <p>&nbsp</p>
                <!-- contacts -->
				  <form>
				    <div class="form-group">
				      <div class="input-group">
				        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
				
				        <input ng-model-options="{debounce: 500}" ng-change="doSearch()" type="text" class="form-control" placeholder="Search name, company, position or country" ng-model="searchContact">
				
				      </div>      
				    </div>
				  </form>

				  <ws-spinner class='bigSpinner' ng-if='loading.contacts'></ws-spinner>
				  <table class="table table-responsive table-striped">				    
				    <thead>
				      <tr>
				        <td>				        
				            <a ng-click="sortType = 'last_name'; sortReverse = !sortReverse; doSearch();">
				            Name
				            <span ng-show="sortType == 'last_name' && !sortReverse" class="caret"></span>
        					<span ng-show="sortType == 'last_name' && sortReverse" class="caret-reverse"></span>
				             </a>
				        </td>
				        <td>
				          <a ng-click="sortType = 'company'; sortReverse = !sortReverse; doSearch();">
				            Company
				             <span ng-show="sortType == 'company' && !sortReverse" class="caret"></span>
        					<span ng-show="sortType == 'company' && sortReverse" class="caret-reverse"></span>
				             </a>
				        </td>
				        <td>
				          <a ng-click="sortType = 'job_title'; sortReverse = !sortReverse; doSearch();">
				            Job title
				             <span ng-show="sortType == 'job_title' && !sortReverse" class="caret"></span>
        					<span ng-show="sortType == 'job_title' && sortReverse" class="caret-reverse"></span>
				             </a>
				        </td>
				        <td>
				          <a ng-click="sortType = 'country'; sortReverse = !sortReverse; doSearch();">
				            Country
				             <span ng-show="sortType == 'country' && !sortReverse" class="caret"></span>
        					<span ng-show="sortType == 'country' && sortReverse" class="caret-reverse"></span>
				             </a>
				        </td>
				        <td class='text-center'>
				        <a ng-click="sortType = 'status'; sortReverse = !sortReverse; doSearch();">
				            Request status
				             <span ng-show="sortType == 'status' && !sortReverse" class="caret"></span>
        					<span ng-show="sortType == 'status' && sortReverse" class="caret-reverse"></span>
				             </a>
				        </td>
				      </tr>
				      <!--<tr>
				        <td>				        
				            Name
				        </td>
				        <td>
				            Company
				        </td>
				        <td>
				            Job title
				        </td>
				        <td>
				            Country
				        </td>
				        <td class='text-center'>
				            Request status
				        </td>
				      </tr>-->
				    </thead>
				    
				    <tbody>
				      <tr ng-repeat="contact in subscriptions.subscriptions | startFrom:startFrom | limitTo:itemsPerPage track by contact.id" ng-if="contact.user.id != user.data.id">
				        <td><a ui-sref='user.profile({userId:contact.user.id})'>{{ contact.user.first_name + " " + contact.user.last_name }}</a></td>
				        <td>{{ contact.user.company }}</td>
				        <td>{{ contact.user.job_title }}</td>
				        <td>{{ contact.user.country.name.text }}</td>
				        <td class='text-center'>
				        	<!-- <small ng-if="$index %2 == 0" ng-click=""><a>Request Contact</a></small>
				        	<small ng-if="$index %2 != 0">Request sent | <a>cancel</a></small> -->
                            <ws-spinner class='smallSpinner' ng-show="loading.contact[contact.user.id]"></ws-spinner>
                            <small ng-show="contact.user.request_status == REQUEST_STATUS.CONNECTED && !loading.contact[contact.user.id]">Connected | <a ui-sref="user.profile({userId:contact.user.id})">view profile</a></small>
				        	<small ng-show="(contact.user.request_status == REQUEST_STATUS.NONE || !contact.user.request_status) && !loading.contact[contact.user.id]"><a class='ch' ng-click="requestContact(contact.user.id, $index)">Request Contact</a></small>
                            <small ng-show="contact.user.request_status == REQUEST_STATUS.REQUESTED && !loading.contact[contact.user.id]">Request received | <a ui-sref="user.inbox({userId:user.data.id})">Inbox</a></small>
                            <small ng-show="contact.user.request_status == REQUEST_STATUS.RECEIVED && !loading.contact[contact.user.id]">Request sent | <a ng-click="cancelRequest(contact.user.id, $index)">cancel</a></small>
				        	<small ng-show="contact.user.request_status == REQUEST_STATUS.DENIED && !loading.contact[contact.user.id]">Request denied</small>
				        </td>
				      </tr>
				    </tbody>
				    
				  </table>

				  <pagination 
            total-items="totalItems" 
            ng-model="bigCurrentPage" 
            ng-change="fetchSubscriptions()"
            items-per-page="itemsPerPage"
            max-size="maxSize" 
            class="pagination-sm pull-right" 
            boundary-links="false"
            rotate="false" 
            num-pages="numPages"></pagination>
        </fieldset>
        <!-- START {{bigCurrentPage*itemsPerPage}}<hr>
        S{{totalItems}}<hr />
        {{bigCurrentPage}}<hr />
        {{itemsPerPage}}<hr />
        {{maxSize}}<hr />
        {{numPages}} -->
                    	
                
                <!-- contacts -->
                
        </div>
        
        <div class='col-xs-12 col-sm-2 sidebar'>
            <h5 class='text-center'><span ng-cloak translate>POPULAR_AT</span><br /><small>{{event.event.name}}</small></h5>
            <popular ng-repeat='u in popularConnections'></popular>            
        </div>       
    </div>    

        <hr class="" />

       

        

    