        <div class="row">

            <div class='col-xs-12 col-sm-10'>
                <h2>WorldSkills Events</h2>
                <p>Select an event to see registered participants.<br />
                By "attending" an event, you will be listed under the event, and other people can request your contact details.<br />
                Please only do so if you are going to physically attend the event.</p>
                
                <p>&nbsp;</p>                

                <fieldset><legend>Featured Events</legend>
                <div class='events cf'>
                    <div ng-repeat="event in events | filter : {featured: true}" class='event'>
                        <div><a ui-sref='event({eventId:event.id})'>{{event.event.name}}</a></div>
                        <div class='event-image'>
                            <a ui-sref='event({eventId:event.id})'><img class='thumbnail' src='http://lorempixel.com/250/160/city/' alt='Sao Paulo 2015' /></a>
                            <span>{{event.connection_count}} possible connections&nbsp;&nbsp;<a popover="{{event.connection_count}} people have said they are attending this event." popover-trigger="mouseenter" ><span class='glyphicon glyphicon-question-sign'></span></a></span>
                        </div>
                        <div class='event-attendance text-center'>
                            <a ng-click='switchAttendance(event.id);'>
                                <span>Click here to attend 
                                    <span popover="Click here if only you are physically going to attend this event." popover-trigger="mouseenter" class='glyphicon glyphicon-question-sign'></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                </fieldset>

                <fieldset><legend>Upcoming Events</legend>
                <div class='events cf'>
                    <div ng-repeat="event in events | filter : {featured: false}" class='event'>
                        <div><a ui-sref='event({eventId:event.id})'>{{event.event.name}}</a></div>
                        <div class='event-image'>
                            <a ui-sref='event({eventId:event.id})'><img class='thumbnail' src='http://lorempixel.com/250/160/city/' alt='Sao Paulo 2015' /></a>
                            <span>{{event.connection_count}} possible connections&nbsp;&nbsp;<a popover="{{event.connection_count}} people have said they are attending this event." popover-trigger="mouseenter" ><span class='glyphicon glyphicon-question-sign'></span></a></span>
                        </div>
                        <div class='event-attendance text-center'>
                            <a ng-click='switchAttendance(event.id);'>
                                <span>Click here to attend 
                                    <span popover="Click here if only you are physically going to attend this event." popover-trigger="mouseenter" class='glyphicon glyphicon-question-sign'></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                </fieldset>
            </div>

            <div class='col-xs-12 col-sm-2 sidebar'>
                <h4 class='text-center'>Popular connections</h4>

                <div class='popular-connection' ng-repeat="i in [1, 2, 3, 4, 5] track by $index">
<!--                     <div>Joni Aaltonen</div>
                    <div class='popular-connection-image'>
                        <a ui-sref='user.profile({userId:1})'><img class='thumbnail' src='http://lorempixel.com/150/150/people/' alt='Sao Paulo 2015' /></a>
                    </div>
                    <div>Finland</div> -->
                    <a ui-sref="user.profile({userId:1})" class='contactLink'>
                        <div class="thumbnail">
                            <img src='http://lorempixel.com/400/400/people/' alt='Joni Aaltonen' />
                            <div class="caption"><strong>Joni Aaltonen</strong><br />
                            WorldSkills International</div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
           

        <hr class="" />

       

        

    