<ws-spinner class='bigSpinner' ng-show='loading.events_init'></ws-spinner>
        <div ng-hide="loading.events_init" class="row">

            <div class='col-xs-12 col-sm-10'>
                <h2>WorldSkills Events</h2>
                <p>Select an event to see registered participants.<br />
                By "attending" an event, you will be listed under the event, and other people can request your contact details.<br />
                Please only do so if you are going to physically attend the event.</p>                
                <p>&nbsp;</p>                

                <fieldset><legend>Featured Events</legend>
                <div class='events cf'>                                
                    <events ng-repeat="event in events.data" class='event' ng-if="event.featured == true"  />
                </div>
                </fieldset>

                <fieldset><legend>Upcoming Events</legend>
                <div class='events cf'>
                    <events ng-repeat="event in events.data" class='event' ng-if="event.featured == false"  />
                </div>
                </fieldset>
            </div>

            <div class='col-xs-12 col-sm-2 sidebar'>
                <h4 class='text-center'>Popular connections</h4>

                <popular ng-repeat='u in popularConnections'></popular>

            </div>
        </div>
           

        <hr class="" />

       

        

    