        <div class="row">

            <div class='col-xs-12 col-sm-9'>
                <div ng-cloak translate>TEXT_MAIN</div>
                <div ng-cloak translate>TEXT_MAIN_LINE1</div>
                <div ng-cloak translate>TEXT_MAIN_LINE2</div>
                <div ng-cloak translate>TEXT_MAIN_LINE3</div>
                <div ng-cloak translate>TEXT_MAIN_LINE4</div>
                <p>&nbsp;</p>
                <div class='text-center'>                
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VwJw_g00Yhk?&theme=light&color=white&keyboard=1&autohide=1&modestbranding=1&fs=0&showinfo=0&rel=0&iv_load_policy=3" allowfullscreen></iframe>
                    </div>
                </div>

                <p>&nbsp;</p>
            </div>

            <div class='col-xs-12 col-sm-3 sidebar'>
                <h4 ng-cloak translate>FEATURED_EVENTS</h4>                
                <featured ng-repeat="event in events.data"></featured>

            </div>
        </div>
           

        <hr class="" />

       

        

    