        <div class="row">

            <div class='col-xs-12 col-sm-9'>
                <h2>What is WorldSkills Connect</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>&nbsp;</p>
                <div class='text-center'>
                    
                    <!-- <iframe class='video-intro' src="https://www.youtube.com/embed/4hfPE-O1IeM" frameborder="0" allowfullscreen></iframe> -->
                </div>
                <p>&nbsp;</p>
            </div>

            <div class='col-xs-12 col-sm-3 sidebar'>
                <h4>Featured Events</h4>                
                <featured ng-repeat="event in events.data"></featured>

            </div>
        </div>
           

        <hr class="" />

       

        

    