        <div class="row">

            <div class='col-xs-12 col-sm-9'>
                <h2>What is WorldSkills Connect</h2>
                <p>WorldSkills Connect is an online tool for people at a WorldSkills event to find other people with similar interests and arrange to meet! 
                It serves as a basic web-based event registration.</p>
                <p>You can quickly sign up and then search for all the other people attending the same event. When you find someone you would like to ‘connect’ with, you simply send them a ‘connect request’.</p>
                <p>Once you have ‘connected’, you can exchange contact information and arrange to meet onsite at the event. The great thing about WorldSkills Connect, the networking power is all in your hands, you decide who you connect with. </p>
                <p>&nbsp;</p>
                <div class='text-center'>
                    
                    <!-- <iframe class='video-intro' src="https://www.youtube.com/embed/4hfPE-O1IeM" frameborder="0" allowfullscreen></iframe> -->
                </div>
                <p>&nbsp;</p>
            </div>

            <div class='col-xs-12 col-sm-3 sidebar'>
                <h4>Featured Events</h4>                
                <featured ng-repeat="event in events.data"></featured>

            </div>
        </div>
           

        <hr class="" />

       

        

    