        <div class="row">

            <div class='col-xs-12 col-sm-9'>
                <h2 ng-cloak translate>SIGNUP_REGISTER</h2>
                <p><span ng-cloak translate>ACCOUNT_ALREADY_1</span><a href="{{auth.loginUrl}}"><span ng-cloak translate>LOGIN_HERE</span></a>.</p>
                <p>&nbsp;</p>
                <a href="{{SIGNUP_URL}}" class='btn btn-primary btn-md' ng-cloak translate>SIGNUP_WSCONNECT</a>
                <p>&nbsp;</p>
                <div class='text-center'>
                    
                    <!-- <iframe class='video-intro' src="https://www.youtube.com/embed/4hfPE-O1IeM" frameborder="0" allowfullscreen></iframe> -->
                </div>
                <p>&nbsp;</p>
            </div>

            <div class='col-xs-12 col-sm-3 sidebar'>
                <h4 ng-cloak translate>FEATURED_EVENTS</h4>                
                <featured ng-repeat="event in events.data"></featured>

            </div>
        </div>
           

        <hr class="" />

       

        

    