        <div class="row">

        	<div ng-show='loading.signupExisting' class='col-xs-12 col-sm-9'>
        		<h2 ng-cloak translate>SIGNUP_CREATING</h2>
                <p ng-cloak translate>SIGNUP_CREATING_TEXT</p>
                <ws-spinner class='bigSpinner' ng-show='loading.signupExisting'></ws-spinner>
        	</div>
            <div ng-hide='loading.signupExisting' class='col-xs-12 col-sm-9'>
                <h2 ng-cloak translate>SIGNUP_MORE_INFO</h2>
                <p ng-cloak translate>SIGNUP_MORE_INFO_TXT</p>
                <p>&nbsp;</p>
                <form class="peopleForm form-horizontal" name="form.extra" novalidate focus-error>
                <fieldset>	
					<legend ng-cloak translate>CONNECT_RELATED_INFO</legend>	
										
					<div class='row contentRow'>
						<div class='col-xs-4 col-md-3 col-lg-2'>
							<strong><span ng-cloak translate>PHONE</span> <span class="required">*</span></strong>
						</div>
						<div class='col-xs-6 col-md-6 col-lg-5'>
							<input type='text' name='phone_number' required placeholder="+358 123 4567" ng-model='tmp_user.phone_number' class='form-control input-sm' />
						</div>
					</div>							
			
					<div class='row contentRow'>
						<div class='col-xs-4 col-md-3 col-lg-2'>
							<strong><span ng-cloak translate>COMPANY</span> <span class="required">*</span></strong>
						</div>
						<div class='col-xs-6 col-md-6 col-lg-5'>
							<input type='text' name='company' required placeholder="Company name" ng-model='tmp_user.company' class='form-control input-sm' />
						</div>
					</div>
					<div class='row contentRow'>
						<div class='col-xs-4 col-md-3 col-lg-2'>
							<strong><span ng-cloak translate>JOB_TITLE</span> <span class="required">*</span></strong>
						</div>
						<div class='col-xs-6 col-md-6 col-lg-5'>
							<input type='text' name='job_title' required placeholder="Job title" ng-model='tmp_user.job_title' class='form-control input-sm' />
						</div>
					</div>
					<!-- <div class='row contentRow'>
						<div class='col-xs-4 col-md-3 col-lg-2'>
							<strong>Profile description</strong>
						</div>
						<div class='col-xs-6 col-md-6 col-lg-5'>
							<textarea name='description' placeholder="" rows='5' ng-model='tmp_user.description' class='form-control input-sm' />
						</div>
					</div>	 -->								
					<div class='row contentRow'>
						<div class='col-xs-4 col-md-3 col-lg-2'>
							<!-- <strong>Job Title</strong> -->
						</div>
						<div class='col-xs-6 col-md-6 col-lg-5'>
						<br />
							<button ng-disabled="form.extra.$invalid" ng-click="saveExtra()" class='btn btn-sm btn-success'>Create a Connect profile</button>
						</div>
					</div>
					</form>	
				</fieldset>				
				</form>
				
                <p>&nbsp;</p>                
            </div>

            <div class='col-xs-12 col-sm-3 sidebar'>
                <h4 ng-cloak translate>FEATURED_EVENTS</h4>                
                <featured ng-repeat="event in events.data"></featured>
            </div>
        </div>
           

        <hr class="" />

       

        

    