<fieldset><legend>Description</legend>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</fieldset>

<fieldset>	
	<legend>Company Information</legend>	

		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Company</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				WorldSkills International
			</div>
		</div>
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Job Title</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				Senior Web Developer
			</div>
		</div>					
</fieldset>


<fieldset>	
	<legend>Contact Details</legend>	

		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Address</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				Vattuniemenkatu 10 B 46<br />
				00210 Helsinki<br />
				Finland
			</div>
		</div>
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Email</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				joni@joniaaltonen.info
			</div>
		</div>					
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Phone</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				+358 40 700 5372
			</div>
		</div>							
</fieldset>

<fieldset><legend>Interests <span class='label label-small label-default'>beta</span></legend>
<p>These interests are used by <b>WorldSkills Connect Facilitators</b> at the event to manually match you with people who have matching interests</p>
<div class='jumbotron'>
	<h2>TODO: Custom interests</h2>
</div>
</fieldset>
