<fieldset><legend>Description</legend>
<p>{{user.profile_description}}</p>
</fieldset>

<fieldset>	
	<legend>Company Information</legend>	

		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Company</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				{{user.company}}
			</div>
		</div>
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Job Title</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				{{user.job_title}}
			</div>
		</div>					
</fieldset>


<fieldset>	
	<legend>Contact Details</legend>	
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Email</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				{{user.email_address}}
			</div>
		</div>					
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Phone</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				{{user.phone_number}}
			</div>
		</div>							
</fieldset>

<fieldset><legend>Interests <span class='label label-small label-default'>beta</span></legend>
<p>These interests are used by <b>WorldSkills Connect Facilitators</b> at the event to manually match you with people who have matching interests</p>
<div class='jumbotron'>
	<h2>TODO: Custom interests</h2>
</div>
</fieldset>
