<fieldset><legend ng-cloak translate>DESCRIPTION</legend>
<p>{{profile.profile_description}}</p>
</fieldset>

<fieldset>	
	<legend ng-cloak translate>COMPANY_INFORMATION</legend>	

		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong ng-cloak translate>COMPANY</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				{{profile.company}}
			</div>
		</div>
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong ng-cloak translate>JOB_TITLE</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				{{profile.job_title}}
			</div>
		</div>					
</fieldset>

<fieldset>	
	<legend ng-cloak translate>CONTACT_DETAILS</legend>	
		<div>
			<div class='alert-success alert' ng-show='request_status == REQUEST_STATUS.REQUESTED && !myProfile'><span class='glyphicon glyphicon-ok-circle'></span><span ng-cloak translate>CONNECT_STATUS_REQUESTED_PROFILE</span><br /><a ui-sref='user.inbox({userId: user.data.id})'><span ng-cloak translate>GOTO_INBOX</span></a></div>
			<div class='alert-danger alert' ng-show='request_status == REQUEST_STATUS.DENIED && !myProfile'><span class='glyphicon glyphicon-ban-circle'></span><span ng-cloak translate>CONNECT_STATUS_DENIED_PROFILE</span></div>
			<div class='alert-warning alert' ng-show='request_status == REQUEST_STATUS.RECEIVED && !myProfile'><p ng-cloak translate>CONNECT_STATUS_RECEIVED_PROFILE</p><br />
				<requestbtn></requestbtn>
			</div>
			<div ng-show='request_status == REQUEST_STATUS.NONE && !myProfile'>
				<p ng-cloak translate>CONNECT_STATUS_NONE_PROFILE</p><br />
				<requestbtn></requestbtn>
			</div>

		</div>
		<div ng-show='request_status == REQUEST_STATUS.CONNECTED || myProfile'>
			<div class='row contentRow'>
				<div class='col-xs-4 col-md-3 col-lg-2'>
					<strong ng-cloak translate>EMAIL</strong>
				</div>
				<div class='col-xs-8 col-md-9 col-lg-10'>
					{{profile.email_address}}
				</div>
			</div>					
			<div class='row contentRow'>
				<div class='col-xs-4 col-md-3 col-lg-2'>
					<strong ng-cloak translate>PHONE</strong>
				</div>
				<div class='col-xs-8 col-md-9 col-lg-10'>
					{{profile.phone_number}}
				</div>
			</div>							
		</div>							
</fieldset>

<!-- <fieldset><legend>Interests <span class='label label-small label-default'>beta</span></legend>
<p>These interests are used by <b>WorldSkills Connect Facilitators</b> at the event to manually match you with people who have matching interests</p>
<div class='jumbotron'>
	<h2>TODO: Custom interests</h2>
</div>
</fieldset> -->
