<fieldset>	
	<legend>Personal Information</legend>	
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Name</strong>
			</div>
			<div class='col-xs-3 col-md-4 col-lg-4'>
				<input type='text' name='first' required placeholder="First" ng-model='tmp_user.first_name' class='form-control input-sm' />
			</div>
			<div class='col-xs-5 col-md-5 col-lg-6'>
				<input type='text' name='last' required placeholder="Last" ng-model='tmp_user.last_name' class='form-control input-sm' />
			</div>
		</div>
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Gender</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				<div class="radio-inline">
				  <label>
				    <input ng-model="tmp_user.gender" type="radio" name="gender" value="M"> Male
				  </label>
				</div>
				<div class="radio-inline">
				  <label>
				    <input ng-model="tmp_user.gender" type="radio" name="gender" value="F"> Female
				  </label>
				</div>
			</div>
		</div>	
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Country</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>				

		        <ui-select ng-model="tmp_user.country" theme="bootstrap">
		          <ui-select-match placeholder="Select or search a country in the list...">{{$select.selected.name.text}} - {{$select.selected.abbreviation}}</ui-select-match>
		          <ui-select-choices repeat="country in countries | filter: $select.search">
		            <div ng-bind-html="country.name.text | highlight: $select.search"></div>
		            <small ng-bind-html="country.abbreviation | highlight: $select.search"></small>
		          </ui-select-choices>
		        </ui-select>
			</div>
		</div>					
</fieldset>

<fieldset><legend>Description</legend>
<textarea ng-model="user.data.profile_description" name="description" ng-minlength='10' rows='5' required class="form-control" placeholder='Lorem ipsum, dolor sit amet...'></textarea>	  
</fieldset>

<fieldset>	
	<legend>Company Information</legend>	

		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Company</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				<input type='text' name='company' required placeholder="Company name" ng-model='tmp_user.company' class='form-control input-sm' />
			</div>
		</div>
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Job Title</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				<input type='text' name='company' required placeholder="Job title" ng-model='tmp_user.job_title' class='form-control input-sm' />
			</div>
		</div>					
</fieldset>


<fieldset>	
	<legend>Contact Details</legend>	
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Email</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				<input type='text' name='email' required placeholder="firstname.lastname@domain.net" ng-model='tmp_user.email_address' class='form-control input-sm' />
			</div>
		</div>					
		<div class='row contentRow'>
			<div class='col-xs-4 col-md-3 col-lg-2'>
				<strong>Phone</strong>
			</div>
			<div class='col-xs-8 col-md-9 col-lg-10'>
				<input type='text' name='phone' required placeholder="+358 123 4567" ng-model='tmp_user.phone_number' class='form-control input-sm' />
			</div>
		</div>							
</fieldset>

<div class='row'>
	<div class='xs-4 col-md-3 col-lg-2'></div>
	<div class='col-xs-8 col-md-9 col-lg-10'>
		<button ng-click='saveProfile()' class='btn btn-success btn-md'>Save profile</button>
		<button ui-sref='user.profile({userId:userId})' class='btn btn-warning btn-md'>Cancel</button>
	</div>
</div>
<!-- 
<fieldset><legend>Interests <span class='label label-small label-default'>beta</span></legend>
<p>These interests are used by <b>WorldSkills Connect Facilitators</b> at the event to manually match you with people who have matching interests</p>

		<div class='row contentRow'>
			<div class='col-xs-5 col-md-5 col-lg-5'>
				<strong>Days of visit WorldSkills São Paulo 2015</strong>
			</div>
			<div class='col-xs-7 col-md-7 col-lg-7'>
				<input date-range-picker class="form-control date-picker" type="text" options='dateRangePickerOptions' ng-model="interests.dates"/>
			</div>
		</div>	

		<div class='row contentRow'>
			<div class='col-xs-5 col-md-5 col-lg-5'>
				<strong>Language preference</strong>
			</div>
			<div class='col-xs-7 col-md-7 col-lg-7'>
				<div class="checkbox"><label><input type="checkbox" value="">English</label></div>				
				<div class="checkbox"><label><input type="checkbox" value="">Spanish</label></div>				
				<div class="checkbox"><label><input type="checkbox" value="">Portuguese</label></div>				
			</div>
		</div>

		<div class='row contentRow'>
			<div class='col-xs-5 col-md-5 col-lg-5'>
				<strong>Interest area (choose at maximum 2)</strong>
			</div>
			<div class='col-xs-7 col-md-7 col-lg-7'>
				<div class="checkbox"><label><input type="checkbox" value="">Manufacturing and Engineering Technology</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">Information and Communication Technology</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">Construction and Building Technology</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">Transportation and Logistics</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">Creative Arts and Fashion</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">Social and Personal Services</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">General</label></div>
			
			</div>
		</div>	

		<div class='row contentRow'>
			<div class='col-xs-5 col-md-5 col-lg-5'>
				<strong>Who would you like to connect with? (choose at maximum XX)</strong>
			</div>
			<div class='col-xs-7 col-md-7 col-lg-7'>
				<div class="checkbox"><label><input type="checkbox" value="">Manufacturing and Engineering Technology</label>
				<div class="checkbox"><label><input type="checkbox" value="">Government</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">Education/institutions</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">Industry</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">Competitor</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">Expert</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">Member Organization</label></div>
				<div class="checkbox"><label><input type="checkbox" value="">WorldSkills </label></div>		
			</div>
		</div>	

		<div class='row contentRow'>
			<div class='col-xs-5 col-md-5 col-lg-5'>
				<strong>Specific meetings or comments</strong>
			</div>
			<div class='col-xs-7 col-md-7 col-lg-7'>
				<textarea ng-model="interests.comments" name="comments" ng-minlength='10' rows='5' required class="form-control" placeholder='Lorem ipsum, dolor sit amet...'></textarea>	  
			</div>
		</div>			

</fieldset> -->
