<fieldset>
	<legend ng-cloak translate>PASSWORD</legend>

<div class='panel panel-default' >
	<div class='panel-heading' ng-cloak translate>PASSWORD</div>
	<div class='panel-body' ng-show='!showPasswdDialog'>	
		<label for="name" class="col-xs-12 col-md-3 control-label" ng-cloak translate>PASSWORD_CURRENT</label>
	        <div class="col-md-6 col-xs-12">
	            ************
	        </div>
	   	    <div class="col-md-3 col-xs-12">
		        <button ng-click="showPasswdDialog = true;" class="btn btn-warning"><span ng-cloak translate>PASSWORD_CHANGE</span></button>
		    </div>		    
	</div>
	<div class='panel-body' ng-show='showPasswdDialog'>				
	<div class='alert alert-info'><span class='glyphicon glyphicon-info-sign'></span>&nbsp;<span ng-cloak translate>PASSWORD_NOTE</span></div>
		<form class="peopleForm form-horizontal" name="edit_password" novalidate focus-error  ng-show='!passwd_reset'>
		<div class="form-group">
	        <label for="name" class="col-xs-12 col-md-3 control-label"><span ng-cloak translate>PASSWORD_CURRENT</span><span class="required">*</span></label>
	        <div class="col-md-6 col-xs-12">
	            <input type="password" class="form-control" id="current" name="current" required ng-model="tmp_person.current">
	        </div>
	   	    <div class="col-md-3 col-xs-12">
		        <button ng-click="continueToReset();" type="submit" class="btn btn-success" ng-cloak translate>CONTINUE<spinner ng-show="loading" class="ng-hide"></spinner></button>
		    </div>
	    </div>							
	   	<div class="form-group" ng-show='!passwd_reset'>
	   		<div class="col-md-3">	            
	        </div>
		</div>
		</form>

		<form class="peopleForm form-horizontal" name="edit_password" novalidate focus-error  ng-show='passwd_reset'>
	    <div class="form-group">
	        <label for="name" class="col-md-3  col-xs-12control-label"><span ng-cloak translate>PASSWORD_NEW</span><span class="required">*</span></label>
	        <div class="col-md-3 col-xs-12">
	            <input type="password" class="form-control" id="passwd01" placeholder="password" ng-minlength="6" name="passwd01" required ng-model="tmp_person.passwd01">
	        </div>
	        <div class="col-md-3 col-xs-12">
	            <input type="password" class="form-control" id="passwd02" placeholder="confirmation" ng-minlength="6" name="passwd02" required ng-model="tmp_person.passwd02">
	        </div>
	  	    <div class="col-md-3 col-xs-12">
		        <button ng-disabled="!passwdMatch() || !passwdValid()" type="submit" ng-click="submitReset();" class="btn btn-success" id="saveEntry"><span ng-cloak translate>PASSWORD_SET_NEW</span><spinner ng-show="loading" class="ng-hide"></spinner></button>
		    </div>
	    </div>			   
	    <div class="form-group" ng-show='passwd_reset'>
	    	<div class="col-md-9 col-md-offset-3">
	            <span class="help-block" ng-show="!passwdValid()" ng-cloak translate>PASSWORD_ERROR_01</span>
	            <span class="help-block" ng-show="!passwdMatch()" ng-cloak translate>PASSWORD_ERROR_02</span>
	        </div>
		</div>
		</form>

	</div>
</div>
<!-- 		    <div class="form-group">
		        <div class="col-md-offset-2 col-md-10">
		            <button ng-disabled="form.basic.$invalid" type="submit" class="btn btn-success" id="saveEntry">Save<spinner ng-show="loading" class="ng-hide"></spinner></button>
		            <a ui-sref="events" class="btn btn-default">Cancel</a>
		        </div>
		    </div> -->
</fieldset>