<fieldset><legend>Inbox - Received Connection Requests</legend>
<ws-spinner class='bigSpinner' ng-show='loading.inbox'></ws-spinner>  
<div ng-hide='loading.inbox' class="media media-inbox" ng-repeat="connection in user.data.inbox.connections">
	<ws-spinner ng-show='loading.inboxItem[connection.id]'></ws-spinner>
	<div class='row' ng-hide='loading.inboxItem[connection.id]'>
		<div class='col-xs-12 col-sm-10'>
  			<div class="media-left media-top">
  			    <a ui-sref='user.profile({userId:connection.from.id})'><img class="listImage media-object" ng-src='{{getProfileImage(connection.from.image, "portrait")}}' alt="name"></a>
  			</div>
  			<div class="media-body">
  			  <h4 class="media-heading"><a ui-sref='user.profile({userId:connection.from.id})'>{{connection.from.first_name + " " + connection.from.first_name}}</a></h4>
  			  	<div class='row contentRow'>
					<div class='col-xs-4 col-md-3 col-lg-2'>
						<strong>Company</strong>
					</div>
					<div class='col-xs-8 col-md-9 col-lg-10'>
						{{connection.from.company}}
					</div>
				</div>
				<div class='row contentRow'>
					<div class='col-xs-4 col-md-3 col-lg-2'>
						<strong>Job Title</strong>
					</div>
					<div class='col-xs-8 col-md-9 col-lg-10'>
						{{connection.from.job_title}}
					</div>
				</div>	
				<div class='row contentRow'>
					<div class='col-xs-4 col-md-3 col-lg-2'>
						<strong>Country</strong>
					</div>
					<div class='col-xs-8 col-md-9 col-lg-10'>
						{{connection.from.country.name.text}}
					</div>
				</div>			
  			</div>
  		</div>
  		<div class='inboxActions col-xs-12 col-sm-2'>
  			<button ng-click="actionConnection(connection.id, true, $index);" class='fullWidth btn btn-success btn-sm'>Accept</button>
  			<button ng-click="actionConnection(connection.id, false, $index);" class='fullWidth btn btn-danger btn-sm'>Deny</button>
  		</div>
  	</div>
</div>
</fieldset>
